.heart-container {
  display: flex;
  flex-wrap: wrap;
  width: ($base-heart-size + $heart-margin-right) * 15;
  margin: $base-heart-size * (2/3);

  .heart {
    margin-top: 0;
    margin-right: $heart-margin-right;
    margin-bottom: $heart-margin-bottom;
    margin-left: 0;
  }
}

.heart {
  @include heart();

  &.heart--temp {
    color: $heart-temp
  }

  &.heart--three-quarters {
    border-right-color: $heart-empty;

    &::after { background-color: $heart-empty; }
  }

  &.heart--half {
    border-right-color: $heart-empty;
    border-bottom-color: $heart-empty;

    &::after { background-color: $heart-empty; }
  }

  &.heart--quarter {
    border-right-color: $heart-empty;
    border-bottom-color: $heart-empty;
    border-left-color: $heart-empty;

    &::after { background-color: $heart-empty; }
  }

  &.heart--empty {
    border-right-color: $heart-empty;
    border-bottom-color: $heart-empty;
    border-left-color: $heart-empty;
    border-top-color: $heart-empty;

    &::before { background-color: $heart-empty; }
    &::after { background-color: $heart-empty; }
  }

}
