.site-title {
  position: absolute;
  bottom: 40px;
  left: 70px;
  font-family: 'Hylia Serif', sans-serif;
  color: $logo-color;
  text-shadow: 0 0 8px rgba(0,0,0,0.5);
  font-size: 72px;
  margin: 0;
  line-height: 1;
}
