.ui-container {
  background: url('../images/background-01.jpg') center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 40px 70px;
}
