@mixin heart($size: $base-heart-size, $ratio: $base-heart-ratio, $color: $heart-filled) {

  display: block;
  position: relative;
  transform: rotate(-45deg);
  width: 0;
  height: 0;
  color: $color;
  border: solid ($size * 0.5) currentColor;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: currentColor;
  }

  &::before {
    width: $size;
    height: ($size * $ratio);
    top: -((($size * $ratio) + ($size * 0.5)) - 1px );
    left: -($size * 0.5);
    border-radius: ($size * 0.5) ($size * 0.5) 0 0;
  }

  &::after {
    width: ($size * $ratio);
    height: $size;
    top: -($size * 0.5);
    left: (($size * 0.5) - 1px);
    border-radius: 0 ($size * 0.5) ($size * 0.5) 0;
  }

}
